@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles spesifik Anda */
.navbar {
  background-color: white;
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.448);
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.relative-container {
  position: relative;
}
.absolute-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 1px 1px 2px black;
}

.hidden {
  display: none;
}
.active-button {
  background-color: #004d40; /* Tailwind's teal-700 */
  color: #fff;
}
